<div class="row">
<div class="col-md-6">
    <strong><%= f.input :fuel, label: "Fuel Type", :collection => fuel_types, class: "form-control select"%></strong>
</div>
<div class="col-md-3">
  <%= f.input :margin,label: "Margin", class: "form-control", placeholder: "+0.003" %>
</div>
<div class="col-md-3">
<%= f.hidden_field :_destroy %>
<%= link_to '#', class: "btn btn-danger btn-xs remove_fields" do %>
        <i class="fa fa-times"></i>
        <%end%>
</div>
</div>
