<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Retailers</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to "Home", supplier_dashboard_path %>
            </li>
            <li class="active">
                <strong>Retailers</strong>
            </li>
            <%= link_to new_supplier_retailer_path, remote: true do %>
            <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#newRetailer">
                <i class="fa fa-user-plus"></i>
                <strong>&nbsp;New Retailer</strong>
            </button>
            <%end%>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" id="RetailerTable">
        <%= render partial: 'retailers_tables', locals: { retailers: @retailers } %>
    </div>

</div>
<div class="modal inmodal" id="newRetailer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <i class="fa fa-users modal-icon" style="color:#1ab394"></i>
                <h4 class="modal-title">Add New Retailer</h4>
                <span class="font-bold">Your Retailers will get text message of your latest price</span>
            </br>
            <span class="font-bold">As (your fuel price + the formula). Set the Formula for them below.</span>
        </div>
        <div class="modal-body" id="RetailerModelBody">
            <!--form -->
        </div>
    </div>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function () {

    $('.contact-box').each(function () {
        animationHover(this, 'pulse');
    });

});
</script>

<% end %>
