<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Truck Providers</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to "Home", supplier_dashboard_path %>
            </li>
            <li class="active">
                <strong>Trucking</strong>
            </li>
            <%= link_to new_supplier_retailer_path, remote: true do %>
            <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#newTrucking" >
                <i class="fa fa-user-plus"></i>
                <strong>&nbsp;Add Trucking</strong>
            </button>
            <%end%>
        </ol>
    </div>
</div>
<div class="jumbotron">
  <h1>Hello!</h1>
  <p>Soon you will be able to Add Trucking Providers to your network. Here you can easily dispatch and track trucking providers.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Coming soon</a></p>
</div>
