<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
        </li>
    </ol>
</div>
        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <h2 class="font-bold">217</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-thumbs-up fa-3x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <h2 class="font-bold">400</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-rss fa-3x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <h2 class="font-bold">10</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-phone fa-3x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <h2 class="font-bold">120</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-euro fa-3x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <h2 class="font-bold">462</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 yellow-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-shield fa-3x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <h2 class="font-bold">610</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>

                <th>#</th>
                <th>Project </th>
                <th>Name </th>
                <th>Phone </th>
                <th>Company </th>
                <th>Completed </th>
                <th>Task</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Project <small>This is example of project</small></td>
                <td>Patrick Smith</td>
                <td>0800 051213</td>
                <td>Inceptos Hymenaeos Ltd</td>
                <td><span class="pie">0.52/1.561</span></td>
                <td>20%</td>
                <td>Jul 14, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alpha project</td>
                <td>Alice Jackson</td>
                <td>0500 780909</td>
                <td>Nec Euismod In Company</td>
                <td><span class="pie">6,9</span></td>
                <td>40%</td>
                <td>Jul 16, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Betha project</td>
                <td>John Smith</td>
                <td>0800 1111</td>
                <td>Erat Volutpat</td>
                <td><span class="pie">3,1</span></td>
                <td>75%</td>
                <td>Jul 18, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Gamma project</td>
                <td>Anna Jordan</td>
                <td>(016977) 0648</td>
                <td>Tellus Ltd</td>
                <td><span class="pie">4,9</span></td>
                <td>18%</td>
                <td>Jul 22, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alpha project</td>
                <td>Alice Jackson</td>
                <td>0500 780909</td>
                <td>Nec Euismod In Company</td>
                <td><span class="pie">6,9</span></td>
                <td>40%</td>
                <td>Jul 16, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Project <small>This is example of project</small></td>
                <td>Patrick Smith</td>
                <td>0800 051213</td>
                <td>Inceptos Hymenaeos Ltd</td>
                <td><span class="pie">0.52/1.561</span></td>
                <td>20%</td>
                <td>Jul 14, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Gamma project</td>
                <td>Anna Jordan</td>
                <td>(016977) 0648</td>
                <td>Tellus Ltd</td>
                <td><span class="pie">4,9</span></td>
                <td>18%</td>
                <td>Jul 22, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Project <small>This is example of project</small></td>
                <td>Patrick Smith</td>
                <td>0800 051213</td>
                <td>Inceptos Hymenaeos Ltd</td>
                <td><span class="pie">0.52/1.561</span></td>
                <td>20%</td>
                <td>Jul 14, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alpha project</td>
                <td>Alice Jackson</td>
                <td>0500 780909</td>
                <td>Nec Euismod In Company</td>
                <td><span class="pie">6,9</span></td>
                <td>40%</td>
                <td>Jul 16, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Betha project</td>
                <td>John Smith</td>
                <td>0800 1111</td>
                <td>Erat Volutpat</td>
                <td><span class="pie">3,1</span></td>
                <td>75%</td>
                <td>Jul 18, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Gamma project</td>
                <td>Anna Jordan</td>
                <td>(016977) 0648</td>
                <td>Tellus Ltd</td>
                <td><span class="pie">4,9</span></td>
                <td>18%</td>
                <td>Jul 22, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alpha project</td>
                <td>Alice Jackson</td>
                <td>0500 780909</td>
                <td>Nec Euismod In Company</td>
                <td><span class="pie">6,9</span></td>
                <td>40%</td>
                <td>Jul 16, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Project <small>This is example of project</small></td>
                <td>Patrick Smith</td>
                <td>0800 051213</td>
                <td>Inceptos Hymenaeos Ltd</td>
                <td><span class="pie">0.52/1.561</span></td>
                <td>20%</td>
                <td>Jul 14, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Gamma project</td>
                <td>Anna Jordan</td>
                <td>(016977) 0648</td>
                <td>Tellus Ltd</td>
                <td><span class="pie">4,9</span></td>
                <td>18%</td>
                <td>Jul 22, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
    var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

    var data1 = [
        { label: "Data 1", data: d1, color: '#17a084' },
        { label: "Data 2", data: d2, color: '#127e68' }
    ];
    $.plot($("#flot-chart1"), data1, {
        xaxis: {
            tickDecimals: 0
        },
        series: {
            lines: {
                show: true,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 1
                    }, {
                        opacity: 1
                    }]
                },
            },
            points: {
                width: 0.1,
                show: false
            },
        },
        grid: {
            show: false,
            borderWidth: 0
        },
        legend: {
            show: false,
        }
    });

    var data2 = [
        { label: "Data 1", data: d1, color: '#19a0a1' }
    ];
    $.plot($("#flot-chart2"), data2, {
        xaxis: {
            tickDecimals: 0
        },
        series: {
            lines: {
                show: true,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 1
                    }, {
                        opacity: 1
                    }]
                },
            },
            points: {
                width: 0.1,
                show: false
            },
        },
        grid: {
            show: false,
            borderWidth: 0
        },
        legend: {
            show: false,
        }
    });

    var data3 = [
        { label: "Data 1", data: d1, color: '#fbbe7b' },
        { label: "Data 2", data: d2, color: '#f8ac59' }
    ];
    $.plot($("#flot-chart3"), data3, {
        xaxis: {
            tickDecimals: 0
        },
        series: {
            lines: {
                show: true,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 1
                    }, {
                        opacity: 1
                    }]
                },
            },
            points: {
                width: 0.1,
                show: false
            },
        },
        grid: {
            show: false,
            borderWidth: 0
        },
        legend: {
            show: false,
        }
    });

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    var mapData = {
        "US": 498,
        "SA": 200,
        "CA": 1300,
        "DE": 220,
        "FR": 540,
        "CN": 120,
        "AU": 760,
        "BR": 550,
        "IN": 200,
        "GB": 120,
        "RU": 2000
    };

    $('#world-map').vectorMap({
        map: 'world_mill_en',
        backgroundColor: "transparent",
        regionStyle: {
            initial: {
                fill: '#e4e4e4',
                "fill-opacity": 1,
                stroke: 'none',
                "stroke-width": 0,
                "stroke-opacity": 0
            }
        },
        series: {
            regions: [{
                values: mapData,
                scale: ["#1ab394", "#22d6b1"],
                normalizeFunction: 'polynomial'
            }]
        },
    });

});

</script>

<% end %>
