<table class="table table-striped table-bordered table-hover">
    <thead>
        <% @fuel_prices.all do |f| %>
        <tr>
              <th>Date</th>
            <%= f.fuel_products.all do |p| %>
            <th><%= p.fuel %></th>

            <th>Action</th>
            <%end%>
          <%end%>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>
