<div class="modal inmodal" id="massSend" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <i class="fa fa-rocket modal-icon" style="color:#1ab394"></i>
        <h4 class="modal-title">Mass Send</h4>
        <span class="font-bold">Your contacts will get text message of your latest price</span>
      </br>
      <span class="font-bold">As (your fuel price + the formula).</span>
    </div>
    <div class="modal-body">
Hello
    <div class="modal-footer">
      <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

    </div>

  </div>
</div>
</div>
